@import 'base';

*{
    margin: 0;
    padding: 0;
}
img{ 
    max-width: 100%;  
}

body{
    font-family: "source code pro";
    background: url("../img/img/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    @include body-config ()
  
   }
.user-img{
    border-radius: 50%;
    margin-bottom: 2rem;
}
.title{
    font-size: 36px;
    font-weight: normal;
    color: black;
}
.box{
    background: #eee;  
    padding: 4rem; 
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16); 
    height: 50vh;
    margin-top: 70px;
    border-radius: 50px;
    text-align: center;

     span{
        font-size: 24px;
        color : #aeaeae;

    }
    p{
        font-size: 18px;
        margin-top: 10px;
        color : #aeaeae;
       
    }
    .Redes-Sociais{
        @include flex-simple(row,center,center);
        li{margin-right: 1rem;
            list-style: none;
            margin-top: 30px;
            justify-content: center;
        }
    } 
}
.portifolio{
    background: #eee;  
    padding: 4rem; 
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16); 
    height: 50vh;
    margin-top: 70px;
    border-radius: 50px;
    text-align: center;
}



